@model Question

@{
    ViewData["Title"] = "Create";
}


<form method="post">
    <div class="row container">
        <label asp-for="Statement" class="text-center">Enunciado</label>
        <textarea asp-for="Statement" class="form-control" rows="5"></textarea>
    </div>
    <br />
    <div class="row">
        @for (int i = 0; i <= 4; i++)
        {
            <div style="display:flex">
                <label style="width:3%; font-size:xx-large" asp-for="Alternatives">@(i + 1)</label>
                <input asp-for="Alternatives[i].Text" class="form-control" />
                <input style="width:7%" asp-for="Alternatives[i].IsRight" type="checkbox" />
                <label> Marque se correta </label>
            </div>
        }
    </div>
    <br />
    <div class="col-12 row">
        <input type="submit" value="Criar Questão" class="btn btn-primary col-6" />
        <a class="btn btn-secondary col-6" asp-action="Index">Back to List</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
