@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Bem Vindo ao App De Simulados Preparatório da PF</h1>

    <h6 class="text-white">
        <br /><br />
        Como Usar o Site?
        <br /><br /><br />
        Caso deseje ajudar Cadastrando novas questões, basta clicar em Questões, no Topo tem um botão "Criar Nova". <br /><br />
        Ao clicar você poderá adicionar um enunciado, até 5 alternativas e selecionar o CheckBox sinalizando qual alternativa é correta.<br /><br />
        Não há problema em deixar caixas de alternativas em branco.
        <br /><br /><br />
        Na hora de fazer os simulados, basta clicar em Simulado.
        <br /><br />
        "Criar Novo Simulado"
        <br /><br />
        Depois preencha seu nome e digite quantas questões você quer que o simulado tenha.
        Depois clique em Criar.
        <br /><br /><br />
        Responda o Simulado, e ao final você terá uma página de resultados que te mostrará quais questões você acertou e quais você errou.
        Assim como seu resultado em pontos e seu % de aproveitamento da prova.   

    </h6>
</div>
