html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    height: 80vh;
    background-color:rgb(51, 83, 46, 0.77)
}
.nav-link:hover{
    background-color:rgb(51, 83, 46, 0.77);
    border-radius:10%;
}

.navbar {
    background-color: rgb(51, 83, 46, 0.77)
}
.footer {
    background-color: rgb(51, 83, 46, 0.77)
}

.nav-link{
    color: white
}
.footer{
    color:white
}
.label {
    color: white
}
.control-label {
    color: white
}
.btn-primary {
    background-color: rgb(15, 70, 122)
}
.btn-secondary{
    background-color:rgb(161, 92, 17)
}
h1{
    color:white
}

.navbar-brand{
    color:white
}